#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #10284e;
    color: #fff;
    overflow: hidden;
  }
  #branding h1{
    color:#fff;
  }
a:link,
a:visited{
  color:#10284e;
}

div.breadcrumbs {
    background: #30caa0;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #10284e;
    text-align: left;
  }
  div.breadcrumbs a {
    color:#333
  }
.button, input[type=submit], input[type=button], .submit-row input, a.button{
  background: #30caa0;
}
button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #30caa0;
}
.module h2, .module caption, .inline-group h2 {
  background: #30caa0;
}
